@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

.prose h1 {
  text-align: initial;
}

.heading .prose {
  max-width: initial;
}

.table-of-contents li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  --tw-text-opacity: 1;
  color: rgb(29 78 216 / var(--tw-text-opacity));
}

.table-of-contents > li > a {
  font-weight: 600;
  color: black;
}

.dropdown:hover .series-dropdown {
  display: block;
}

.series-dropdown {
  display: none;
  width: 10rem;
}
